@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url('/css/fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('/css/fonts/OpenSans.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('/css/fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('/css/fonts/OpenSans-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('/css/fonts/OpenSans-Extrabold.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url('/css/fonts/OpenSans-CondensedBold.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 320px;
}

body {
    position: relative;
    font-size: 0;
}

body.modal-show {
    overflow: hidden;
}

body[data-mode="dark"] {
    background-color: #202628;
}

#nav-static-wrapper *,
#users *,
#room-header *,
#room-content-videos * {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100%;
    width: 100%;
    padding: 0 0 0 82px;
    box-sizing: border-box;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    #content {
        padding: 44px 0 0;
    }
}

#content>#init,
#captcha {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    right: 0;
    padding: 0;
    overflow: hidden;
    z-index: 5;
}

#init-window,
#captcha-window {
    position: relative;
    height: 100%;
    min-height: 100%;
    width: 100%;
    top: 0;
    font-size: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .65);
    white-space: nowrap;
    z-index: 2;
}

#init-window:before,
#captcha-window:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

#init-content,
#captcha-content {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 50px auto;
    font-size: 0;
    overflow: hidden;
    white-space: normal;
    vertical-align: middle;
}

#content:not([unresolved])~#beta {
    display: inline-block;
}

#beta {
    position: fixed;
    display: none;
    height: 18px;
    width: 40px;
    top: 73px;
    left: 21px;
    padding: 0;
    border: none;
    font-size: 0;
    background: none;
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    z-index: 3;
    transition: .8s;
}

#beta>svg {
    height: 100%;
    width: 100%;
}

#beta>svg>path {
    transition: .2s;
}

#beta:hover>svg>path {
    fill: #d3d3d3;
}

#input-menu:checked~#beta {
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    #input-users:checked~#beta {
        left: -61px;
    }

    #input-menu:checked~#beta {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 600px) {

    #beta,
    #input-users:checked~#beta,
    #input-menu:checked~#beta {
        height: 39px;
        width: 30px;
        top: 2px;
        left: 55px;
        z-index: 4;
    }
}

body.full-screen>#input-users:checked~#beta {
    left: -61px;
}

body.full-screen>#input-menu:checked~#beta {
    opacity: 0;
    visibility: hidden;
}

#content:not([unresolved])>#init {
    display: none;
}

#init-content-eye {
    position: relative;
    height: 160px;
    width: 160px;
    margin: 30px auto 0;
    font-size: 0;
    white-space: nowrap;
}

#init-content-eye>svg {
    position: absolute;
    top: 0;
    left: 0;
}

#init-content-eye:before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}

#init-content-eyeball {
    position: relative;
    display: inline-block;
    height: 114px;
    width: 114px;
    margin-left: -10px;
    border-radius: 100%;
    background-color: #fff;
    vertical-align: middle;
    transform-origin: 67px 57px;
    animation: eye-rotation 1.2s linear 0s infinite;
    -webkit-animation: eye-rotation 1.2s linear 0s infinite;
}

@keyframes eye-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes eye-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#init-content-eyeball-pupil {
    position: absolute;
    height: 58px;
    width: 58px;
    top: 27px;
    left: 27px;
    margin-left: -14px;
    border-radius: 100%;
    background-color: #000;
    animation: pupil-rotation 1.2s linear 0s infinite;
    -webkit-animation: pupil-rotation 1.2s linear 0s infinite;
}

#init-content-eyeball-pupil:before {
    content: "";
    position: absolute;
    display: block;
    height: 16px;
    width: 16px;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    background-color: #fff;
}

@keyframes pupil-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes pupil-rotation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#init-content>span {
    display: block;
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    text-align: center;
}

#captcha {
    left: -100%;
    opacity: 0;
    visibility: hidden;
    transition: left 0s ease .2s,
        opacity .2s,
        visibility .2s;
}

#captcha.show {
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: left 0s,
        opacity .2s,
        visibility .2s;
}

#captcha-content {
    max-width: 540px;
    padding: 50px 30px 50px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
}

[data-mode="dark"] #captcha-content {
    background-color: #202628;
}

#captcha-content>h1 {
    padding-bottom: 9px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 300;
    color: #363636;
    line-height: 33px;
    text-align: center;
}

[data-mode="dark"] #captcha-content>h1 {
    color: #fff;
}

#captcha-content>span {
    display: block;
    margin-bottom: 45px;
    font-size: 12px;
    line-height: 16px;
    color: #262626;
}

[data-mode="dark"] #captcha-content>span {
    color: #fff;
}

#captcha-content>a {
    display: inline-block;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 600;
    color: #41b7ef;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}

#captcha-content>a:hover {
    color: #54ccf3;
}

#captcha-content>a:active {
    color: #38a8dd;
}

#captcha-content-element>div {
    margin: 0 auto;
}